<td class="editable" data-field="{{ field }}">
    <input type="text"
           class="form-control form-control-sm"
           value="{{ value }}"
           data-controller="editable"
           data-editable-id-value="{{ entityId }}"
           data-editable-type-value="{{ entityType }}"
           data-editable-field-value="{{ field }}"
           data-action="blur->editable#update">
</td>
